<!DOCTYPE html>
<!--[if IEMobile 7 ]><html class="no-js iem7"><![endif]-->
<!--[if lt IE 9]><html class="no-js lte-ie8"><![endif]-->
<!--[if (gt IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>Google Search Consoleに当ブログを登録する &mdash; Dreaming in Brookline, MA 02445</title>
  <meta name="author" content="きょうす kyos">






  <!-- http://t.co/dKP3o1e -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">


    <link href="/favicon.png" rel="icon">

  <link href="/theme/css/main.css" media="screen, projection"
        rel="stylesheet" type="text/css">

  <link href="//fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic"
        rel="stylesheet" type="text/css">
  <link href="//fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic"
        rel="stylesheet" type="text/css">
</head>

<body>
  <header role="banner"><hgroup>
  <h1><a href="/">Dreaming in Brookline, MA 02445</a></h1>
</hgroup></header>
  <nav role="navigation"><ul class="subscription" data-subscription="rss">
</ul>


<ul class="main-navigation">
    <li><a href="pages/about.html">About me</a></li>
      <li >
        <a href="/category/blog.html">Blog</a>
      </li>
      <li >
        <a href="/category/english.html">English</a>
      </li>
      <li >
        <a href="/category/linux.html">Linux</a>
      </li>
      <li >
        <a href="/category/python.html">Python</a>
      </li>
      <li class="active">
        <a href="/category/tech.html">Tech</a>
      </li>
</ul></nav>
  <div id="main">
    <div id="content">
<div>
  <article class="hentry" role="article">
<header>
      <h1 class="entry-title">Google Search Consoleに当ブログを登録する</h1>
    <p class="meta">
<time datetime="2020-08-12T00:00:00-04:00" pubdate>Wed 12 August 2020</time>    </p>
</header>

  <div class="entry-content"><div id="table-of-contents">
<h2>Table of Contents</h2>
<div id="text-table-of-contents">
<ul>
<li><a href="#org3d0a556">1. はじめに</a></li>
<li><a href="#orgb383025">2. Google Search Console</a>
<ul>
<li><a href="#org0b382db">2.1. サイトを登録する</a></li>
<li><a href="#org9fc198f">2.2. サイトマップを登録する</a></li>
</ul>
</li>
<li><a href="#org768c5df">3. 終わりに</a></li>
</ul>
</div>
</div>

<div id="outline-container-org3d0a556" class="outline-2">
<h2 id="org3d0a556"><span class="section-number-2">1</span> はじめに</h2>
<div class="outline-text-2" id="text-1">
<p>
ブログは作りましたが、検索エンジンがまだ私のブログの存在を認識していないので、訪問者数は自分を除くとゼロの記録を更新中です。とても寂しいので、いつもお世話になっているgoogleに認識していただくことにしました。それでも3ヶ月〜半年くらいは寂しい状況が続くようですが。。。
</p>

<p>
今回は短い単発ネタな上に、pelicanサイトジェネレーター + github pagesでブログを公開している私の環境を前提に書いているので、ほとんど参考にならないかもしれません。まあ、訪問者数ゼロなので実害は無いでしょうか。
</p>
</div>
</div>

<div id="outline-container-orgb383025" class="outline-2">
<h2 id="orgb383025"><span class="section-number-2">2</span> Google Search Console</h2>
<div class="outline-text-2" id="text-2">
<p>
何はともあれ、"google search console"をgoogleで検索して(ここからです 笑)、サイトに行ってみます。
</p>
<pre class="example">
https://search.google.com/search-console/welcome
</pre>
</div>

<div id="outline-container-org0b382db" class="outline-3">
<h3 id="org0b382db"><span class="section-number-3">2.1</span> サイトを登録する</h3>
<div class="outline-text-3" id="text-2-1">
<p>
お持ちのgoogleアカウントでログインしている場合、以下のような画面が出るので、右側の入力欄に自分のサイトのURLを入れてcontinueを押します。
</p>


<div id="org4f9ab01" class="figure">
<p><img src="./images/gsctop.png" alt="gsctop.png" />
</p>
</div>

<p>
するとgoogle*****.htmlというファイルをダウンロードして自分のサイトのトップにアップロードせよ、と言ってきます。
</p>


<div id="orga0a9c33" class="figure">
<p><img src="./images/gschtml.png" alt="gschtml.png" />
</p>
</div>

<p>
もちろん、言われたとおりにします。私の場合はPelicanという静的サイトジェネレーターを使っているので、参考にならないかもしれませんが、その手順を書くと、
</p>

<ol class="org-ol">
<li>&lt;blog folder&gt;/output/にgoogle****.htmlファイルを置く</li>
<li>以下を実行して変更をプッシュする</li>
</ol>
<pre class="example">
ghp-import output
git push https://github.com/achiwa912/achiwa912.github.io.git gh-pages:master
</pre>


<p>
無事にgoogle****.htmlファイルがプッシュされた気がします。
</p>

<p>
そして、先ほどの画面でverifyをクリックすると、googleが私のサイトを認識してくれました。
</p>
</div>
</div>

<div id="outline-container-org9fc198f" class="outline-3">
<h3 id="org9fc198f"><span class="section-number-3">2.2</span> サイトマップを登録する</h3>
<div class="outline-text-3" id="text-2-2">
<p>
なんだか、いろいろググっていると、google search consoleに登録しただけでは駄目で、更にsitemapなるものを用意しないといけないようです。これがあると、googleのcrawlerが優先的に見に来てくれるという噂です。取りこぼしが無いように、サイトの構造を教えているだけな気もしますが。。。
</p>

<p>
Pelicanには簡単にsitemapを出力できるプラグインが用意されています。以下のようにpalicanconf.pyを変更するだけなのですが、SITEURL変数を設定するとローカルでの作業時にリンクがgithub.ioを見に行ってしまうという副作用が出てしまいました。
</p>

<p>
逆にSITEURLを設定しないと、生成されるsitemap.xmlのURLが相対アドレスになってしまい、google search consoleが読めずにエラーとなってしまいます。
</p>

<pre class="example">
PLUGINS = ['org_reader', 'sitemap']
SITEMAP = {
    'format': 'xml',
    'priorities': {
	'articles': 1,
	'indexes': 0.5,
	'pages': 0.5,
    },
    'changefreqs': {
	'articles': 'always',
	'indexes': 'hourly',
	'pages': 'monthly'
    }
}
SITEURL = 'https://achiwa912.github.io'
</pre>

<p>
そこで解決策を1時間ほどググって、ようやく以下のページを見つけました。解決策を提示くださって、どうもありがとうございます。
</p>

<p>
<a href="https://yamachaaan.net/2018/11/07/generate-sitmap-on-pelican.html">pelicanでのSitemap.xmlの生成方法</a>
<a href="https://github.com/getpelican/pelican/wiki/Tips-n-Tricks#generate-sitemapxml">https://github.com/getpelican/pelican/wiki/Tips-n-Tricks#generate-sitemapxml</a>
</p>

<p>
まずは、使用しているテーマのtemplatesディレクトリにsitemap.htmlとして以下のファイルを作成します。私の環境では: themes/pelican-octopress-theme-master/templates/sitemap.html
</p>

<pre class="example">
&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"&gt;

{% for article in articles %}
  &lt;url&gt;
    &lt;loc&gt;{{ ROOTURL }}/{{ article.url }}&lt;/loc&gt;
    &lt;priority&gt;0.8&lt;/priority&gt;
  &lt;/url&gt;

  {% for translation in article.translations %}
  &lt;url&gt;
    &lt;loc&gt;{{ ROOTURL }}/{{ translation.url }}&lt;/loc&gt;
    &lt;priority&gt;0.8&lt;/priority&gt;
  &lt;/url&gt;
  {% endfor %}
{% endfor %}

{% for page in pages %}
  &lt;url&gt;
    &lt;loc&gt;{{ ROOTURL }}/{{ page.url }}&lt;/loc&gt;
    &lt;priority&gt;1.0&lt;/priority&gt;
  &lt;/url&gt;

  {% for translation in page.translations %}
  &lt;url&gt;
    &lt;loc&gt;{{ ROOTURL }}/{{ translation.url }}&lt;/loc&gt;
    &lt;priority&gt;1.0&lt;/priority&gt;
  &lt;/url&gt;
  {% endfor %}
{% endfor %}

&lt;/urlset&gt;
</pre>

<p>
そして、以下をpelicanconf.pyに追記します。
</p>
<pre class="example">
ROOTURL = 'https://achiwa912.github.io'
DIRECT_TEMPLATES = ('index', 'tags', 'categories', 'archives', 'sitemap')
SITEMAP_SAVE_AS = 'sitemap.xml'
</pre>


<p>
pelicanコマンドでmakeして確認したところ、ちゃんとsitemap.xml内のURLは正しく設定されているようです。&lt;loc&gt;の行に注目。
</p>
<pre class="example">
&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"&gt;

  &lt;url&gt;
    &lt;loc&gt;https://achiwa912.github.io/googlesc.html&lt;/loc&gt;
    &lt;priority&gt;0.8&lt;/priority&gt;
  &lt;/url&gt;
snip
</pre>

<p>
ローカルでの作業時に、リンクはきちんとローカルのページに飛びます。うまく行きました。
</p>

<p>
これで先ほどと同じようにgithub pagesのサイトにプッシュします。
</p>
<pre class="example">
ghp-import output
git push https://github.com/achiwa912/achiwa912.github.io.git gh-pages:master
</pre>


<p>
最後にgoogle search consoleに登録します。
google search consoleの左上にある、3本横線のメニューアイコンをクリックし、sitemapsを選びます。
</p>


<div id="org8cf062e" class="figure">
<p><img src="./images/gscmenu.png" alt="gscmenu.png" />
</p>
</div>

<p>
次の画面でEnter sitemap URLとあるところに、sitemap.xmlと入れてsubmitすると、Status: Successと出て、googleが当サイトの構造を認識してくれたようです。
</p>


<div id="orgf4e8edd" class="figure">
<p><img src="./images/gscsitemap.png" alt="gscsitemap.png" />
</p>
</div>
</div>
</div>
</div>

<div id="outline-container-org768c5df" class="outline-2">
<h2 id="org768c5df"><span class="section-number-2">3</span> 終わりに</h2>
<div class="outline-text-2" id="text-3">
<p>
先ほど登録したばかりなので、まだ何の効果があったのかわかりません。いや、まだ無いはず。のんびりと待つことにします。
</p>
</div>
</div>
</div>
    <footer>
<p class="meta">
  <span class="byline author vcard">
    Posted by <span class="fn">
        きょうす
    </span>
  </span>
<time datetime="2020-08-12T00:00:00-04:00" pubdate>Wed 12 August 2020</time>  <span class="categories">
    <a class='category' href='/category/tech.html'>Tech</a>
  </span>
  <span class="categories">
    <a class="category" href="/tag/tech.html">Tech</a>  </span>
</p><div class="sharing">
</div>    </footer>
  </article>

</div>
<aside class="sidebar">
  <section>
    <h1>Recent Posts</h1>
    <ul id="recent_posts">
      <li class="post">
          <a href="/bline.html">Brooklineってどんなところ</a>
      </li>
      <li class="post">
          <a href="/soda.html">SodaStreamに切り替えてみた</a>
      </li>
      <li class="post">
          <a href="/moving.html">アメリカで近距離の引っ越し</a>
      </li>
      <li class="post">
          <a href="/breaklease.html">アメリカでアパートリース契約を破棄</a>
      </li>
      <li class="post">
          <a href="/jobchg.html">アメリカの出向先に転職しました</a>
      </li>
    </ul>
  </section>
  <section>
      
    <h1>Categories</h1>
    <ul id="recent_posts">
        <li><a href="/category/blog.html">Blog</a></li>
        <li><a href="/category/english.html">English</a></li>
        <li><a href="/category/linux.html">Linux</a></li>
        <li><a href="/category/python.html">Python</a></li>
        <li><a href="/category/tech.html">Tech</a></li>
    </ul>
  </section>
 

  <section>
  <h1>Tags</h1>
    <a href="/tag/blog.html">Blog</a>,    <a href="/tag/amerikasheng-huo.html">アメリカ生活</a>,    <a href="/tag/amerikatoraburu.html">アメリカトラブル</a>,    <a href="/tag/python.html">Python</a>,    <a href="/tag/linux.html">Linux</a>,    <a href="/tag/tech.html">Tech</a>,    <a href="/tag/game.html">game</a>,    <a href="/tag/english.html">English</a>,    <a href="/tag/investment.html">Investment</a>,    <a href="/tag/emacs.html">emacs</a>,    <a href="/tag/vacation.html">Vacation</a>,    <a href="/tag/ying-yu.html">英語</a>,    <a href="/tag/ying-yu-jiao-yu.html">英語教育</a>,    <a href="/tag/ying-jian.html">英検</a>  </section>


    <section>
        <h1>Social</h1>
        <ul>
            <li><a href="http://twitter.com/kyos_achwan" target="_blank">Twitter</a></li>
            <li><a href="http://github.com/achiwa912" target="_blank">GitHub</a></li>
        </ul>
    </section>
    <section>
        <h1>Blogroll</h1>
        <ul>
            <li><a href="https://getpelican.com/" target="_blank">Pelican</a></li>
            <li><a href="https://www.python.org/" target="_blank">Python.org</a></li>
        </ul>
    </section>

<section>
    <p>Follow <a href="http://twitter.com/kyos_achwan">@kyos_achwan</a></p>
</section>
</aside>    </div>
  </div>
  <footer role="contentinfo"><p>
    Copyright &copy;  2020&ndash;2021  きょうす kyos &mdash;
  <span class="credit">Powered by <a href="http://getpelican.com">Pelican</a></span>
</p></footer>
  <script src="/theme/js/modernizr-2.0.js"></script>
  <script src="/theme/js/ender.js"></script>
  <script src="/theme/js/octopress.js" type="text/javascript"></script>
</body>
</html>